---
import '../styles/global.css'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const pageTitle = 'Blog About Page'
const colors = ['red', 'green', 'blue']

const day = 'Monday'

const listColor = 'navy'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

        <style define:vars={{listColor}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }

            .list-item {
                color: var(--listColor);
                font-weight: bold;
            }
        </style>
	</head>
	<body>
        <Header />

		<h1>{pageTitle}</h1>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid rem similique tempora, dignissimos animi ut iusto repellat quidem beatae laboriosam nostrum officia nam aut minus eaque enim magnam minima quaerat!
        </p>

        <ul>
            {
                colors.map((color) => <li class="list-item">{color}</li>)
            }
        </ul>

        <div>
             {
                day !== 'Monday' ? <p>Today is {day}</p> : <p>Today is not {day}</p>
             }
        </div>

        <Footer />

        <script>
            import '../scripts/menu.js'
        </script>
	</body>
</html>
